<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> 



<!-- <button  class="history" onclick="history.back()">&#8592;</button>
 <body>

    <div class="m-4"><h3><b font-size="20">Sync your Account</b></h3></div>

    <div class="form-floating col-md-6 m-4">

      <input

        type="text"

        class="form-control"

        id="ss-number"

        placeholder="xxx-xxxxx-xx"

        required

      />

      <label for="ss-number">Social Security number</label>

      <div class="invalid-feedback">Social Security number is required</div>

    </div>

 

    <div>

      <div class="form-floating col-md-6 m-4">

        <input

          type="password"

          class="form-control"

          id="show_hide_password"

          placeholder="123456"

          required

        />

        <label for="show_hide_password">Create Strong Password</label>

        

        <div class="invalid-feedback">Password is required</div>

        

        <div class="input-group-addon">

          <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>

        </div>

        
      </div>

    </div>

    <div>

        <div class="form-floating col-md-6 m-4">
  
          <input
  
            type="password"
  
            class="form-control"
  
            id="show_hide_password"
  
            placeholder="123456"
  
            required
  
          />
  
          <label for="show_hide_password" >Repeat Password</label>

          <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
          </span>
  
          <div class="invalid-feedback">Password is required</div>
  
          <div class="input-group-addon">
  
            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
  
          </div>
  
        </div>
  
      </div>
    

     <button   class="form-floating col-md-6 m-4 btn btn-warning" type="submit" [routerLink]="'verify'"> 

       Next

    </button> 
    <p class="form-floating col-md-6 m-4">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    
    <div class="eyeicon">fa <i class="fa fa-circle-o-notch" aria-hidden="true"></i></div>

  </body>
 -->
