.container{
  --ion-background-color: #19055cdb;
}


 .circle {
   float: left;
   width: 450px;
   height: 450px;
   margin: 0px;
   shape-outside: circle(0% at 0%);
   clip-path: circle(50% at 0%);
   background: rgb(239, 112, 8);
  
 }

 .circle1 {
  float: bottom;
  width: 450px;
  height: 450px;
  
  border-radius: 10px;

  --ion-border-color:gold;


  

  shape-outside: circle(0% at 0%);
  clip-path: circle(50% at 0%);


  


 
}


 .btn{
  position: fixed;
    left: 40%;
    bottom: 150px;
    right: 40%;
    align-items: center;
    width:190px;
 }

 